*.code-workspace
*.pyc
*.ipynb_checkpoints

**/node_modules/**


# Dot directories
.obsidian
.copilot
.gemini
.claude
.grok
.codex
.antigravity
.obsidian

# temp dirs 
**/.doc-dive/**
!**/.doc-dive/README.md
**/.snapshot/** 
**/.para-agent/**

**__/pycache__/**
**/.pytest_cache/**
**/.mypy_cache/**
**/.ruff_cache/**
**/.vscode/**
**/.idea/**
**/.DS_Store**
**/.env/**
**/.venv/**
*.vscode

bin/
obj/
.para-agent/
