*.code-workspace
*.pyc
*.ipynb_checkpoints

**/node_modules/**


# Dot directories
.obsidian
.copilot
.gemini
.claude
.codex
.antigravity
.obsidian


**__/pycache__/**
**/.pytest_cache/**
**/.mypy_cache/**
**/.ruff_cache/**
**/.vscode/**
**/.idea/**
**/.DS_Store**
**/.env/**
**/.venv/**
*.vscode

bin/
obj/
